 body {background-color: black;

}
a{
	text-align : red;
	color: blue;
}
p{
	color: red;
}
 h1 {
 	text-align : center;
    color: red;
    background-color: blue;
    font-family: impact;
    font-size: 42px;
    text-decoration: underline;
}
h2{
	text-align : center;
	color: red
}
h3{
	color: yellow;
	text-align : left;
	}
h4{
	color: yellow;
}